.box {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.author {
    display:flex;
    justify-content: space-between;
}

.imageNname {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nameNcompany {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nameNcompany h5 {
    color: rgb(154, 153, 153);
}

.profileImage{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: black;
    overflow: hidden;
}

.profileImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bigImage{
    width: 100%;
    height: 45vh;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.bigImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.likeNmessageNshare{
    width: 100%;
    display: flex;
    gap: 50px;
}

.like, .message, .share {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

span {
    color: #ff86a7;
    cursor: pointer;
}

