.thirdPart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    gap: 55px;
    margin-left: 40px;
    margin-top: -15px;
}

.right {
    display: flex;
    align-items: center;
    gap: 55px;
    margin-right: 40px;
    margin-top: -15px;
}
h6 {
    color: rgb(154, 153, 153);
}